{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Question List'|trans }}
{% endblock %}


{% block body %}
    <h1>{{ 'Question List'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID'|trans, 'question.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'question.TitleQuestion') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Content'|trans, 'question.Content') }}</th>
                <th>{{ 'Category'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in pagination.items %}
                <tr>
                    <td>{{ question.id }}</td>
                    <td>{{ question.TitleQuestion }}</td>
                    <td>{{ question.Content }}</td>
                    <td>{{ question.category.name }}</td>
                    <td>
                        <a href="{{ url('question_show', {id: question.id}) }}" title="{{ 'Show '|trans }}">
                            {{ 'Show '|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}