{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_question_list'|trans }}
{% endblock %}


{% block body %}



    <h1 class="display-4 d-flex justify-content-center">{{ 'title_question_list'|trans }}</h1>

    {% if is_granted ('ROLE_ADMIN') %}
        <a class="btn btn-outline-success" href="{{ url('question_create') }}" title="{{ 'label_question_create'|trans }}">
            {{ 'label_question_create'|trans }}
        </a>
    {% endif %}



    {% if pagination is defined and pagination.items|length %}

        <div class=".table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_Created_at'|trans, 'question.createdAt') }}</th>
                <th>{{ 'label_question_title'|trans }}</th>
                <th>{{ 'label_question_content'|trans }}</th>
                <th>{{ 'label_question_category'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in pagination.items %}
                <tr>
                    <td>{{ question.createdAt|date('Y/m/d') }}</td>
                    <td>{{ question.TitleQuestion }}</td>
                    <td>{{ question.Content }}</td>
                    <td>{{ question.category.name }}</td>

                    <td>
                        <a class="btn btn-info" href="{{ url('question_show', {id: question.id}) }}" title="{{ 'label_question_show'|trans }}">
                            {{ 'label_question_show'|trans }}
                        </a>
                        {% if is_granted ('ROLE_ADMIN') %}
                        <a class="btn btn-warning" href="{{ url('question_edit', {id: question.id}) }}" title="{{ 'label_question_edit'|trans }}">
                            {{ 'label_question_edit'|trans }}
                        </a>

                        {% if not question.answers|length %}
                        <a class="btn btn-danger" href="{{ url('question_delete', {id: question.id}) }}" title="{{ 'label_question_delete'|trans }}">
                            {{ 'label_question_delete'|trans }}
                        </a>

                        {% endif %}

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}