{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Question Details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'Question Details'|trans({'%id%': question.id|default('')}) }}</h1>
    {% if question is defined and question|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'ID'|trans }}</dt>
            <dd>{{ question.id }}</dd>
            <dt>{{ 'Title'|trans }}</dt>
            <dd>{{ question.TitleQuestion|trans }}</dd>
            <dt>{{ 'Content'|trans }}</dt>
            <dd>{{ question.Content }}</dd>
            <dt>{{ 'Category'|trans }}</dt>
            <dd>{{  question.category.name }}</dd>
        </dl>

        {% if question is defined and question|length %}
            <div >
                {% for answers in question.answers %}
                    <div>

                        <div class="card-body">

                            <h5 class="card-title">{{ answers.content }}</h5>
                            <a href="{{ url('answer_edit', {id: answers.id}) }}" title="{{ 'Edit '|trans }}">
                                {{ 'Edit '|trans }}
                            </a>

                            <a href="{{ url('answer_delete', {id: answers.id}) }}" title="{{ 'Delete '|trans }}">
                                {{ 'Delete '|trans }}
                            </a>


                        </div>
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>

        {% endif %}

        <p>
            <a href="{{ url('answer_create', {id: question.id}) }}" title="{{ 'Add answer '|trans }}">
                {{ 'Add answer '|trans }}
            </a>

            <a href="{{ url('question_index') }}" title="{{ 'Back'|trans }}">
                {{ 'Back'|trans }}
            </a>


        </p>

    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}