{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label_question_details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1 class="display-4 d-flex justify-content-center">{{ 'label_question_details'|trans({'%id%': question.id|default('')}) }}</h1>

    {% if question is defined and question|length %}
        <div class="card distance" style="width: 50%;">
        <dl class="dl-horizontal">
            <dd class="card-title">{{ question.TitleQuestion|trans }}</dd>
            <dd class="card-text display-4">{{ question.Content }}</dd>
        </dl>
        </div>



        {% for answers in question.answers %}
            {% if answers.isBest == 1 %}
            <div class="card"  style="width: 50%;">
                <div class="card-header">
                    {{ 'label_best_answer_text'|trans }}
                </div>
            <div class="card-body alert alert-success">
            {{ answers.content }}
            </div>
            </div>
            {% endif %}
        {% endfor %}



        {% if question is defined and question|length %}
            <div>
                {% for answers in question.answers %}
                    <div>


                        <div class="card-body">
                            <h5 class="card-text">{{ answers.content }}</h5>
                            <p class="card-title blockquote-footer"> {{ answers.nick }}
                                {{ answers.email }}
                            </p>
                            <h1 class="card-title"></h1>

                            {% if is_granted ('ROLE_ADMIN') %}


                            <a class="btn btn-info" href="{{ url('answer_edit', {id: answers.id}) }}" title="{{ 'label_answer_edit'|trans }}">
                                {{ 'label_answer_edit'|trans }}
                            </a>

                            <a class="btn btn-danger" href="{{ url('answer_delete', {id: answers.id}) }}" title="{{ 'label_answer_delete'|trans }}">
                                {{ 'label_answer_delete'|trans }}
                            </a>

                            <a class="btn btn-success" href="{{ url('answer_best', {id: answers.id}) }}" title="{{ 'label_answer_isBest'|trans }}">
                                {{ 'label_answer_isBest'|trans }}
                            </a>


                        </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>

        {% endif %}

        <p>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
               {{ 'label_answer_button'|trans }}
            </button>

            <div id="collapseForm" class="collapse">
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div  class="btn btn-info row float-sm-right">
                    <input type="submit" value="{{ 'save'|trans }}" class="btn btn-light">
                </div>

                {{ form_end(form) }}
            </div>



            <a class="btn btn-info" href="{{ url('question_index') }}" title="{{ 'Back'|trans }}">
                {{ 'Back'|trans }}
            </a>


    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}