{% extends 'base.html.twig' %}

{% block title %}
    {{ 'label_question_details'|trans({'%id%': question.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'label_question_details'|trans({'%id%': question.id|default('')}) }}</h1>
    {% if question is defined and question|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_question_title'|trans }}</dt>
            <dd>{{ question.TitleQuestion|trans }}</dd>
            <dt>{{ 'label_question_content'|trans }}</dt>
            <dd>{{ question.Content }}</dd>
            <dt>{{ 'label_question_category'|trans }}</dt>
            <dd>{{  question.category.name }}</dd>
        </dl>

        {% for answers in question.answers %}

        {% if answers.isBest == 1 %}

            {{ answers.content }}

            {% endif %}
        {% endfor %}



        {% if question is defined and question|length %}
            <div >
                {% for answers in question.answers %}
                    <div>






                        <div class="card-body">
                            <h5 class="card-title">{{ answers.content }}</h5>
                            <p class="card-title"> {{ answers.nick }}
                                {{ answers.email }}
                            </p>
                            <h1 class="card-title"></h1>

                            {% if is_granted ('ROLE_ADMIN') %}


                            <a href="{{ url('answer_edit', {id: answers.id}) }}" title="{{ 'label_answer_edit'|trans }}">
                                {{ 'label_answer_edit'|trans }}
                            </a>

                            <a href="{{ url('answer_delete', {id: answers.id}) }}" title="{{ 'label_answer_delete'|trans }}">
                                {{ 'label_answer_delete'|trans }}
                            </a>

                            <a href="{{ url('answer_best', {id: answers.id}) }}" title="{{ 'label_answer_isBest'|trans }}">
                                {{ 'label_answer_isBest'|trans }}
                            </a>


                        </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>

        {% else %}
            <p>
                {{ 'message_empty_list'|trans }}
            </p>

        {% endif %}

        <p>
            <div>
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div  class="form-group row float-sm-right">
                    <input type="submit" value="{{ 'save'|trans }}" class="btn btn-light">
                </div>

                {{ form_end(form) }}
            </div>



            <a href="{{ url('question_index') }}" title="{{ 'Back'|trans }}">
                {{ 'Back'|trans }}
            </a>


        </p>

    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}