{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Category List'|trans }}
{% endblock %}


{% block body %}

    <a href="{{ url('category_create') }}" title="{{ 'Create '|trans }}">
        {{ 'Create '|trans }}
    </a>

    <a href="{{ url('question_index') }}" title="{{ 'Go to Questions '|trans }}">
        {{ 'Go to Questions '|trans }}
    </a>


    <h1>{{ 'Category List'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'category.name') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'Show '|trans }}">
                            {{ 'Show '|trans }}
                        </a>

                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'Edit '|trans }}">
                            {{ 'Edit '|trans }}
                        </a>

                        <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'Delete '|trans }}">
                            {{ 'Delete '|trans }}
                        </a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}



{% endblock %}