{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}


{% block body %}



    <h1>{{ 'title_category_list'|trans }}</h1>

    {% if is_granted ('ROLE_ADMIN') %}
    <a href="{{ url('category_create') }}" title="{{ 'label_create_category '|trans }}">
        {{ 'label_create_category'|trans }}
    </a>
    {% endif %}


    {% if pagination is defined and pagination.items|length %}


        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label_category_title'|trans }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'label_category_show'|trans }}">
                            {{ 'label_category_show '|trans }}
                        </a>
                        {% if is_granted ('ROLE_ADMIN') %}
                        <a href="{{ url('category_edit', {id: category.id}) }}" title="{{ 'label_category_edit'|trans }}">
                            {{ 'label_category_edit'|trans }}
                        </a>

                        {% if not category.questions|length %}
                        <a href="{{ url('category_delete', {id: category.id}) }}" title="{{ 'label_category_delete'|trans }}">
                            {{ 'label_category_delete'|trans }}
                        </a>
                        {% endif %}

                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message_empty_list'|trans }}
        </p>
    {% endif %}



{% endblock %}