{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
<h1 class="display-4 d-flex justify-content-center">{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1>
{% if category is defined and category|length %}

<dl>
    <dt class="display-4">{{ 'label_question_title'|trans }}</dt>

    <div>
    {% for question in category.questions %}

        <div class="card-body">
            <h5 class="card-text">{{ question.titleQuestion }}</h5>
        </div>
        <a  class="btn btn-info" href="{{ url('question_show', {id: question.id}) }}" title="{{ 'label_category_show'|trans }}">
            {{ 'label_category_show'|trans }}
        </a>

    {% endfor %}
    </div>
</dl>

{% endif %}

    <p>
        <a class="btn btn-info" href="{{ url('category_index') }}" title="{{ 'label_category_back'|trans }}">
            {{ 'label_category_back'|trans }}
        </a>
    </p>

{% endblock %}





