{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Question Details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
<h1>{{ 'Question Details'|trans({'%id%': category.id|default('')}) }}</h1>
{% if category is defined and category|length %}

<dl class="dl-horizontal">
    <dt>{{ 'ID'|trans }}</dt>
    <dd>{{ category.id }}</dd>
    <dt>{{ 'Title'|trans }}</dt>
    <dd>{{ category.name|trans }}</dd>
    <dt>{{ 'Question'|trans }}</dt>
    {% for question in category.questions %}

    <dd> {{ question.titleQuestion }}</dd>
        <a href="{{ url('question_show', {id: question.id}) }}" title="{{ 'Show '|trans }}">
            {{ 'Show '|trans }}
        </a>

    {% endfor %}
</dl>

{% endif %}

    <p>
        <a href="{{ url('category_index') }}" title="{{ 'Back'|trans }}">
            {{ 'Back'|trans }}
        </a>
    </p>

{% endblock %}





