{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
<h1>{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1>
{% if category is defined and category|length %}

<dl class="dl-horizontal">
    <dt>{{ 'label_category_title'|trans }}</dt>
    <dd>{{ category.name|trans }}</dd>
    <dt>{{ 'label_question_title'|trans }}</dt>
    {% for question in category.questions %}

    <dd> {{ question.titleQuestion }}</dd>
        <a href="{{ url('question_show', {id: question.id}) }}" title="{{ 'label_category_show'|trans }}">
            {{ 'label_category_show'|trans }}
        </a>

    {% endfor %}
</dl>

{% endif %}

    <p>
        <a href="{{ url('category_index') }}" title="{{ 'label_category_back'|trans }}">
            {{ 'label_category_back'|trans }}
        </a>
    </p>

{% endblock %}





